---
import type { Project } from "../data/projects";
import TechIcon from "./TechIcon.astro";

export interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<li class="shiny card">
    <div class="card-body">
        <header>
            <h3>
                {project.icon}
                {project.title}
            </h3>
            <div class="icons">
                {project.technologies.map((tech) => <TechIcon name={tech} />)}
            </div>
        </header>

        <p>{project.description}</p>
        <div class="card-links">
            {
                project.tryLink && (
                    <a
                        href={project.tryLink}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="card-external-link"
                    >
                        🚀 Try it out
                    </a>
                )
            }
            {
                project.codeLink && (
                    <a
                        href={project.codeLink}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="card-external-link"
                    >
                        📂 Source
                    </a>
                )
            }
        </div>
    </div>
    <a href={`/projects/${project.slug}`} class="stretched-link">View details</a
    >
</li>

<style>
    header {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .card {
        position: relative;
    }

    .shiny {
        position: relative;
        overflow: hidden;
        display: block;
        text-decoration: none;
        background-color: var(--card-background-color);
        border: solid thin var(--border-color);
        border-radius: 0.4rem;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .shiny::after {
        content: "";
        position: absolute;
        top: calc(var(--y, 0) * 1px - 250px);
        left: calc(var(--x, 0) * 1px - 250px);
        width: 500px;
        height: 500px;
        background: radial-gradient(var(--shiny-color), #3984ff00 50%);
        pointer-events: none;
        opacity: 0;
    }

    .shiny:hover::after {
        opacity: 0.4;
    }

    .stretched-link {
        position: absolute;
        inset: 0;
        z-index: 1;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
    }

    .card-body {
        padding: 0.6rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
    }

    .card-external-link {
        position: relative;
        z-index: 2;
    }

    .card-links {
        margin-top: 0.4rem;
    }

    .card-links a + a {
        margin-left: 0.5rem;
    }

    .icons {
        margin-top: 0.4rem;
        display: flex;
        gap: 0.3rem;
    }
</style>
